.layout {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.main{
  width:80vw;
}
.control{
  width:20vw;
}

@media only screen and (max-width: 400px) {
  .layout {
    display: block;
  }
  .main{
    width: 100vw;
  }
  .control{
    width: 100vw;
  }
}

.rectangle {
  background: black;
  flex-grow: 1;
}

.snake {
  background: red;
}

.snack{
  background: yellow;
}

.playground {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  align-content: flex-start;
}

.right {
  flex-direction: column;
}

.control {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

.arrowButton{
  height: 4vh;
}

.modelPanel{
  margin-top: 3vh;
}